{% extends 'shop_app/base.html' %}

{% block title %} О себе {% endblock %}

{% block content %}
    <div>
            <h1>Страница о себе</h1>
            <img src="https://avatars.mds.yandex.net/i?id=7d7382921eceffaa12e807a55278256c1b2fc273-9869754-images-thumbs&n=13">
            <div class="text">
                <p>
                    В самый морочный час<span style="margin-right:-0.2em;">,
                    </span><span style="margin-left:0.2em;"> </span><br>
                    Если не продохнуть&nbsp;— <br>
                    Радуюсь мелочам. <br>
                    Радуюсь по чуть-чуть.
                </p>
                <p>
                    Солнечному лучу<span style="margin-right:-0.2em;">,
                    </span><span style="margin-left:0.2em;"> </span><br>
                    Вечеру при свечах. <br>
                    Очень уж я хочу <br>
                    Сердце не удручать.
                </p>
                <p>
                    Ягодам на снегу<span style="margin-right:-0.2em;">,
                    </span><span style="margin-left:0.2em;"> </span><br>
                    Шишечкам на ольхе <br>
                    Радуюсь<span style="margin-right:-0.2em;">,</span><span style="margin-left:0.2em;"> </span>как могу<span style="margin-right:-0.2em;">,</span><span style="margin-left:0.2em;"> </span><br>
                    Всяческой чепухе.
                </p>
                <p>
                    Падает жёлудь&nbsp;— «вжух!»&nbsp;— <br>
                    За отворот плаща… <br>
                    Радости нахожу <br>
                    В самых простых вещах.
                </p>
                <p>
                    Музыке по утрам<span style="margin-right:-0.2em;">,
                    </span><span style="margin-left:0.2em;"> </span><br>
                    Осени волшебству <br>
                    Радуюсь<span style="margin-right:-0.2em;">,</span><span style="margin-left:0.2em;"> </span><br>
                    Как дурак<span style="margin-right:-0.2em;">,</span><span style="margin-left:0.2em;"> </span><br>
                    Факту<span style="margin-right:-0.2em;">,</span><span style="margin-left:0.2em;"> </span>что я живу.
                </p>
            </div>
       </div>

        <br>
{% endblock %}